.portfolio-projects {
    @include centerContent;
    margin: calculateRem(60px) 0;
}
.portfolio-projectsContainer {
    @include centerContent;
    background-image: url('../../../../../public/assets/imgs/mobilePortfolio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calculateRem(200px);
    justify-content: center;
}
.portfolio-projectsContainer__title {
    @include rectangularButton;
}
.portfolio-footer {
    @include centerContent;
    height: calculateRem(60px);
    width: 100%;
    color: white;
    background-color: black;
    justify-content: center;
}
.portfolio-footer__title {
    @include font-size($f-size);
    font-weight:$f-weight-medium;    
}