.aboutMe-container__parallax {
	width: calculateRem(250px);
	text-align: center;
}

.aboutMe-img__parallax { 
    margin-top: calculateRem(45px);
}

.aboutMe-description__container {
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: 0 0 calculateRem(60px);
}

.aboutMe-description__title {
    @include rectangularButton($f-size-md-xxl);
    margin-bottom: calculateRem(40px);
	&::before {
		content: '"';
		color: black;
	}

	&::after {
		content: '!';
		color: black;
	}
}

.aboutMe-description__parragraph {
	text-align: justify;
	margin: 0 5%;
}