.aboutMe-container__parallax {
	width: calculateRem(250px);
	text-align: center;
}

.aboutMe-img__parallax { width: 90%;}

.aboutMe-description__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutMe-description__title {
	@include font-size($f-size-xxlg);
	margin: calculateRem(35px) 0 calculateRem(20px);
	&::before {
		content: '"';
		color: blue;
	}

	&::after {
		content: '!';
		color: blue;
	}
}

.aboutMe-description__parragraph {
	text-align: justify;
	margin: 0 5%;
}