.aboutMe-education__list {
    margin: 0 5%;
}

.aboutMe-education__item {
    margin: calculateRem(25px) 0;
}

.aboutMe-education__institution {
    @include font-size($f-size);
}

.aboutMe-education__degreeParragraph {
    display: flex;
    justify-content: space-between;
   
    font-weight: $f-weight-light;
    margin: calculateRem(20px) 0;

    hr {
        width: 20%;
        border: 0;
        border-bottom: 0.0625rem solid #ccc;
        border-left: 0.0625rem solid #ccc;
        margin: 0 5% calculateRem(10px);
    }

    p {
        text-align: justify;
        width: 80%;
    }
}