section.aboutMe-tecnologies {
    flex-wrap: wrap;
}

.aboutMe-tecnologies__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
    visibility: visible;
}

.aboutMe-tecnologies__img {
    margin: calculateRem(15px) 0;
}



.aboutMe-tecnologies__show-more {
    @include submitButtonRegular;

    &.off {
        display: none;
    }
}

@media screen and (max-width: calculateRem($bp-mobile)) {
    .aboutMe-tecnologies__item {
        &.VISIBLE {
            opacity: 1;
            height: auto;
            visibility: visible;
            transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out, visibility 0s linear;
            margin-bottom: calculateRem(25px);
        }

        &.HIDDEN {
            opacity: 0;
            height: 0;
            visibility: hidden;
            transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out, visibility 0s linear 0.5s;
        }
    }

    .aboutMe-tecnologies__item.HIDDEN+.aboutMe-tecnologies__item.VISIBLE {
        height: 0;
        visibility: hidden;
        transition: height 0.5s ease-in-out, visibility 0s linear 0.5s;
    }
}

@media screen and (min-width: calculateRem($bp-mobile)) {
    .aboutMe-tecnologies__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aboutMe-tecnologies__item {
        max-width: 210px;
        margin: 0 calculateRem(10px) calculateRem(25px);

        &.HIDDEN {
            opacity: 1;
            height: auto;
            visibility: visible;
        }
    }

    .aboutMe-tecnologies__show-more {
        display: none;
    }
}