.services-wcfu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: calculateRem(60px) 0;
}

.services-wcfu__title {
    @include rectangularButton;
    margin-bottom: calculateRem(50px);
}

.services-wcfu__parragraph {
    text-align: justify;
    margin: 0 9% calculateRem(30px);
}

.services-wcfu__button {
    @include submitButtonRegular;
}

.services-offer {
    margin-bottom: calculateRem(60px);
}

.services-offer__item {
    max-width: calculateRem(300px);
    margin: calculateRem(50px);
}

.services-offer__titleConteiner {
    display: flex;
    align-items: center;
}

.services-offer__text {
    @include font-size($f-size);
    margin-left: calculateRem(-15px);
    text-transform: uppercase;
    letter-spacing: 0.18538em;
}

.services-offer__description {
    margin: calculateRem(20px) 0 0 calculateRem(50px);
    text-align: justify;
}

@media screen and (max-width: calculateRem($bp-mobile)) {
    .services-offer__list {
        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}


@media screen and (min-width: calculateRem($bp-mobile)) {
    .services-offer__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services-offer__item {
        margin: calculateRem(30px);
    }
}