// HEADER COMPONENT: 

//Vars:
$height-header: calculateRem(65px);

//Styles:
.header,
.headerBackTo {
    @include container-wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $height-header;
    background-color: $uiKit-background;
}
.header__img,
.headerBackTo__img {
    width: calculateRem(64px);
    margin-left: calculateRem(-8px);
}

.header-navegation {
    display: none;
}

.header-button,
.headerBackTo-button {
    background-color: transparent;
    border: none;
}