@import './sections/aboutMe.Career';
@import './sections/aboutMe.Description';
@import './sections/aboutMe.Skills';
@import './sections/aboutMe.Tecnologies';
@import './sections/aboutMe.Education';
@import './sections/aboutMe.Courses';
@import './sections/aboutMe.Idioms';


.aboutMe-description {
    display: flex;
	flex-direction: column;
	align-items: center; 
}
.aboutMe-career,
.aboutMe-skills,
.aboutMe-tecnologies,
.aboutMe-education,
.aboutMe-courses,
.aboutMe-idioms {
	display: flex;
	flex-direction: column;
	align-items: center;
    @include container-wrap;
    background: white;
    color: black;
    padding-top: calculateRem(60px);
}
.aboutMe-career__title,
.aboutMe-skills__title,
.aboutMe-education__title, 
.aboutMe-courses__textFlag {
    @include rectangularButton($f-size-md-xxl);
    width: 90%;
}

