// PAGE MANAGER:

div.HOME-PAGE,
div.ABOUTME-PAGE,
div.BLOG-PAGE,
div.CONTACTME-PAGE,
div.PORTFOLIO-PAGE,
div.SERVICES-PAGE {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// Pages withOut backtop footer:
div.HOME-PAGE {
    background-color: grey;
    .footer {
        .footer-back {
            display: none;
        }
        .footer-socialMedia {
            margin-top: calculateRem(50px);
            :nth-child(2) {
                display: none;
            }
            :nth-child(4) {
                display: none;
            }
        }
    }
}

//[Unic Styles]
// HOME PAGE
div.HOME-PAGE {
    height: 100vh;
}
// CONTACTME PAGE
div.CONTACTME-PAGE {
   background: $colorLinearGradientContactMeBody;
}
// ABOUT ME PAGE
div.ABOUTME-PAGE {
    align-items: center;
    background-color: black;
    color: white ;
}
// PORTFOLIO PAGE
div.PORTFOLIO-PAGE {
    .footer {
        border-radius: 0;
    }
}

// to wrap the main section class on the pages.
.aboutMe,
.contactMe,
.services,
.blog {
    @include container-wrap;
    @include centerContent;
}