.blog-content {
    margin: calculateRem(60px) 0;
    @include centerContent;
}
.blog-main__title {
    @include rectangularButton;
    margin-bottom: calculateRem(20px);
}
.blog-content__image {
    margin: calculateRem(20px) 0;
    img {
        border-radius: calculateRem(50px) 0 calculateRem(70px);
        box-shadow: 7px 10px 20px 0px #00000085;
    }
}
.blog-content__subTitle {
    margin: calculateRem(20px) 0;
    text-transform: capitalize;
    text-align: start;
    width: 100%;
}
.blog-content__text {
    text-align: justify;
    max-width: calculateRem(640px);
    margin: 0 5% calculateRem(25px);
}