.comments {
    width: 100%;
}

.comments-title {
    @include rectangularButton;
    max-width: calculateRem(300px);
}

.comments-list {
    margin: calculateRem(60px) 5%;
}

.comments-list__item {
    margin-bottom: calculateRem(20px);
}

.comments-list__textContainer {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: calculateRem(20px);

    hr {
        width: 100%;
        margin: 0 calculateRem(10px);
        border: 0;
        border-top: calculateRem(1px) solid #ccc;
    }
}

.comments-item__date {
    white-space: pre;
}

.comments-item__author {
    @include font-size(14px);
    text-transform: capitalize;
}

.comments-item__text {
    display: flex;

    hr {
        width: 100%;
        border: 0;
        border-bottom: 0.0625rem solid #ccc;
        border-left: 0.0625rem solid #ccc;
        margin: 0 5% calculateRem(10px);
    }

    p {
        text-align: justify;
        min-width: calculateRem(160px);
    }
}

@media screen and (min-width: calculateRem(365px)) {
    .comments-item__author {
        white-space: nowrap;
    }
}

@media screen and (min-width: calculateRem(480px)) {
    .comments-list__item {
        margin-right: calculateRem(90px);
    }
}