.blog-carrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calculateRem(30px);
}

.blog-carrousel__item {
    margin: calculateRem(30px) 0;
    @include centerContent;
    width: 100%;
    max-width: calculateRem(600px);
}

.blog-carrousel__title {
    @include rectangularButton;
    text-align: center;
    max-width: calculateRem(400px);
}

.blog-carrousel__img {
    margin: calculateRem(30px) 0 calculateRem(40px);
    img {
        border-radius: calculateRem(50px) 0 calculateRem(70px);
        box-shadow: 7px 10px 20px 0px #00000085;
    }
}

.blog-carrousel__button {
    @include submitButtonRegular;
}

@media screen and (max-width: calculateRem($bp-tablet-landscape-min)) {
    .blog-carrousel__item {
        margin-bottom: calculateRem(70px);

        &:last-child {
            margin-bottom: calculateRem(30px);
        }
    }
}

@media screen and (min-width: calculateRem($bp-tablet-landscape-min)) {
    .blog-carrousel {
        width: 100%;
    }

    .blog-carrousel__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}