.blog-carrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-carrousel__item {
    margin: calculateRem(30px) 0;
    @include centerContent;
}
.blog-carrousel__title {
    @include rectangularButton;
    text-align: center;
}
.blog-carrousel__img {
    margin: calculateRem(20px) 0;
    width: calculateRem(250px);
    border-radius: calculateRem(16px);
}
.blog-carrousel__button {
    @include submitButtonRegular;
}