.contactMe {
    //background: linear-gradient(0deg, #000000 8.81%, rgba(196, 196, 196, 0) 31.87%);
    justify-content: space-between;
    height: 100vh;
    padding: calculateRem(65px) 0;
}

.contactMe-info {
    @include centerContent;
    height: 100%;
    justify-content: space-around;
}
.contactMe-info__title {
    @include rectangularButton;
    margin-bottom: calculateRem(40px);
}
.contactMe-info__description {
    text-align: center;
    font-weight: $f-weight-light;
    padding: 0 2%;
}
.contactMe-info__img {margin: calculateRem(40px) 0 calculateRem(60px);}

.contactMe-form {
    @include centerContent;
    :nth-child(4) {
        height: calculateRem(160px);
        width: 100%;
        overflow-y: auto; 
    }
}
.contactMe-form__input { 
    @include fieldsContactMeInput; 
    overflow: hidden;
}

.contactMe-form__submit {
    @include submitButtonRegular;
    margin-top: calculateRem(20px);
}