// FLOATSUBMENU COMPONENT:

//Styles:
.floatMenu-navegation {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $uiKit-background;
    height: 100vh;
    width: 100%;
    &.on {
        top: 0;
    }
    &.off {
        top: -100vh;
    }
    header {
        width: 100%;
        height: calculateRem(65px);
        padding: 0 calculateRem(14px);
        display: flex;
        align-items: center;
        justify-content: flex-end
    }
}
.floatMenu-navegation__list {
    @include container-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.floatMenu-navegation__item {
    font-size: calculateRem(30px);
    margin: calculateRem(30px);
}
.floatMenu-navegation__link {
    color: $uiKit-fontColor;
    text-decoration: none;
    font-weight: $f-weight-normal;
    &:hover {
        font-weight: $f-weight-medium;
    }
}
.floatMenu-navegation__logo {
    margin-bottom: calculateRem(40px);
}

@media #{$tablet-landscape} {
    .floatMenu-navegation {
        display: none;
    }
}