// FLOATSUBMENU COMPONENT:

//Styles:
.floatMenu-navegation {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $uiKit-background;
    width: 100%;
    height: 100vh;

    &.on {
        display: flex;
        top: 0;
        z-index: $page-loader-zindex;
    }

    &.off {
        top: -100vh;
        display: none;
    }

    header {
        width: 100%;
        height: calculateRem(65px);
        padding: 0 calculateRem(14px);
        display: flex;
        align-items: center;
        justify-content: flex-end
    }
}

.floatMenu-navegation__list {
    @include container-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floatMenu-navegation__item {
    @include font-size($f-size-md-xl);
    margin: calculateRem(20px);
}

.floatMenu-navegation__link {
    color: $uiKit-fontColor;
    text-decoration: none;
    font-weight: $f-weight-normal;

    &:hover {
        font-weight: $f-weight-medium;
    }
}



@media #{$tablet-landscape} {
    .floatMenu-navegation {
        display: none;
    }
}

@media screen and (min-width: calculateRem($bp-tablet-landscape-min)) {
    .floatMenu-navegation__item {
        margin: calculateRem(15px);
    }
    .floatMenu-navegation__logo { margin-bottom: calculateRem(40px); }
}